
.product-details {
  max-width: 1000px;
  margin: 3rem auto;
  padding: 2rem;
  min-height: 600px; 
  background: linear-gradient(135deg, #ffffff, #dfe6e9);
  border-radius: 15px;
  box-shadow: 0 12px 45px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-details:hover {
  transform: translateY(-8px);
  box-shadow: 0 18px 65px rgba(0, 0, 0, 0.3);
}

.details-header {
  margin-bottom: 2.5rem;
  text-align: left;
}

.back-button {
  background: linear-gradient(135deg, #74b9ff, #0984e3);
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.back-button:hover {
  background: linear-gradient(135deg, #55efc4, #00cec9);
  transform: scale(1.1);
}

.back-button:focus {
  outline: none;
}

.details-content {
  display: flex;
  gap: 3rem;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-image {
  max-width: 450px;
  max-height: auto; 
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.details-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-name {
  font-size: 2.8rem;
  color: #2d3436;
  margin-bottom: 1rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.product-description {
  font-size: 1.5rem;
  color: #636e72;
  line-height: 1.8;
  margin-bottom: 2rem;
  text-align: justify;
}

.product-price {
  font-size: 2.2rem;
  color: #d63031;
  font-weight: bold;
}


.add-to-cart-button {
  background: linear-gradient(135deg, #00b894, #00cec9);
  color: white;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 2rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.add-to-cart-button:hover {
  background: linear-gradient(135deg, #6c5ce7, #0984e3);
  transform: scale(1.1);
}

.add-to-cart-button:focus {
  outline: none;
}


@media (max-width: 768px) {
  .details-content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .product-name {
    text-align: center;
    font-size: 2.5rem;
  }

  .product-description {
    text-align: center;
    font-size: 1.4rem;
  }

  .product-price {
    text-align: center;
    font-size: 2rem;
  }

  .product-image {
    max-width: 100%;
    height: auto; 
    max-height: 400px; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  }

  .add-to-cart-button {
    width: 100%;
    font-size: 1.2rem;
    padding: 1.2rem;
  }
}
